body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  text-align: center;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 8px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 16px;
}

.login-form button {
  padding: 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}

.login-form{
  background-color: black;
}